{% extends 'base.html' %}
{% block title %}Instrukcja{% endblock %}

{% block subtitle %}
<h2>Instrukcja</h2>
{% endblock %}
    
{% block content %}
    Na stronie głównej klikamy na mapie w punk początkowy, następnie końcowy, a na końcu na wielki błękitno-turkusowy przycisk Wyznacz trasę.
    <h2>Nota dla Firefoxowiczy</h2>
    Na Firefoxie mobile po kliknięciu w link do gmap otworzy się link do google maps. Tam będzie widoczna opcja "nawiguj w aplikacji". To może nas przekierować do sklepu i kazać ściągnąć aplikacje maps GO.
    <br>
    Zamiast tego na ekranie z przyciskiem "nawiguj w aplikacji" należy znaleźć przycisk w swojej przeglądarce "otwórz w aplikacji" - wtedy otworzy się normalnie aplikacja map.
    <hr>
{% endblock %}
