<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Router</title>
    </head>
    <body>
        <div id="controls">
            <h1>Vetu-Router</h1>
            <h2>Do 20 minut za darmo!</h2>
            <div class='station'>
                <h3>Początek</h3>
            </div>
            <div class='journey'>
                {{ walking[0] }}
            </div>
            
            {% for event in route %}
                {% if event.type == 'journey' %}
                    <div class='journey'>
                        {{ event.duration // 60 }} minut {{ event.duration % 60 // 1}} sekund
                    </div>
                {% else %}
                    <div class='station'>
                        <img src='{{ url_for('static', filename='bike.svg') }}' alt='rower'> <!-- TODO: translations -->
                        <h3>{{ event.name }}</h3>
                        <h5>{{ event.shortname }}</h5>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id="map"></div>
    </body>
</html>